<%- include('../partials/blogHeader'); -%>
      
<section class="center-column">
        <div class="header">
          <!-- img tag w/class profile-img -->
          <div class="header-content">
            <h2>Keith McKenna 👨🏻‍💻</h2>
            <p>Full Stack Developer</p>
          </div>
        </div>
        <div>
          <%# blogs.reverse().forEach(function(blog){ %>
            <article>
              <header>
                <h1>
                  <a class="blog-title" href="#">##BLOG TITLE##</a>
                </h1>
                <div class="post-meta">
                  <div class="post-author">By Keith McKenna</div>
                  <div class="post-date">February 08, 2021</div>
                  <div class="post-comments">No Comments</div>
                </div>
              </header>
            </article>
          <%# }); %>
        </div>
      </section>

<%- include('../partials/blogFooter'); -%>