<%- include('../partials/blogHeader'); -%>
      
<section class="center-column">
        <div class="header">
          <!-- img tag w/class profile-img -->
          <div class="header-content">
            <h2>Keith McKenna 👨🏻‍💻</h2>
            <p>Full Stack Developer</p>
          </div>
        </div>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam placeat nulla illo autem officia id, et nesciunt sed nostrum quis nobis necessitatibus. Cumque maxime culpa dolorum eum doloribus porro necessitatibus.
        Rerum impedit delectus exercitationem illum porro sunt totam saepe, dicta ratione maxime optio blanditiis fuga numquam? Quisquam ipsam eligendi id totam eius ex veritatis magnam? Veritatis corrupti voluptate animi sed!
        Ipsum sunt corrupti, facilis sit ullam delectus aut architecto magni. Sapiente veniam voluptates ad deleniti, fuga eaque molestiae quas dolorem consectetur eum repellendus voluptatem est voluptatum, provident dolore fugiat quidem?
        Saepe eligendi excepturi corrupti pariatur tenetur nesciunt sint dolorum eos? Fugit perferendis nisi distinctio modi, unde accusantium deserunt, quidem quam quasi, corrupti facere consequuntur aut soluta dolores nemo reprehenderit dolore?
        Maiores dolore non error odio quasi quisquam debitis nihil dolor! Accusantium, ipsam doloremque quae in incidunt illum eum corrupti, quidem modi suscipit quo eius inventore voluptatem maxime animi eos? Ut?
        Culpa quia, blanditiis omnis maxime praesentium veniam neque tenetur vitae ea adipisci. Voluptas temporibus laborum rem, suscipit quidem fugiat! Hic ipsam, temporibus odit accusantium tenetur obcaecati dolorum illum voluptate est.
        Magnam sapiente, cupiditate sint fugit obcaecati dolorem aliquid iste quidem. Ipsa deleniti enim eaque itaque aliquam, reiciendis necessitatibus eveniet id laborum dolorem praesentium suscipit placeat nostrum sed, autem quo provident?
        Provident magni asperiores voluptatum voluptate, nostrum mollitia nisi? Nam numquam sit fugiat corrupti exercitationem. In doloribus pariatur repellat sed qui consequatur, at ratione unde possimus, corrupti, optio quo asperiores dolore.</h2>
      </section>

<%- include('../partials/blogFooter'); -%>