<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Keith McKenna | Blog</title>

    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <script
      src="https://kit.fontawesome.com/ba832eb4c4.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body id="page-top">
    <main class="container">
      <section class="left-column">
        <nav class="main-nav">
          <a href="https://keithmckenna.com"
            ><i class="fas fa-house-user"></i>Portfolio</a
          >
          <a href="/blog"><i class="fas fa-redo-alt"></i>Blog</a>
          <a href="/contact"><i class="fas fa-pen-square"></i>Contact</a>
        </nav>
      </section>
      