<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Keith McKenna | Blog</title>

    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <script
      src="https://kit.fontawesome.com/ba832eb4c4.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body id="page-top">
    <main class="container">
      <section class="left-column">
        <nav class="main-nav">
          <a href="https://keithmckenna.com"
            ><i class="fas fa-house-user"></i>Portfolio</a
          >
          <a href="/blog"><i class="fas fa-redo-alt"></i>Blog</a>
          <% if(!currentUser) { %>
          <a href="/blog/user/login"><i class="fas fa-unlock"></i>Sign In</a>
          <% } else { %>
          <a href="/blog/user/logout"><i class="fas fa-lock"></i>Sign Out</a>
          <% } %>
        </nav>
      </section>
      <div class="alert-container">
        <% if(error && error.length > 0){ %>
          <div class="alert-danger" role="alert">
            <%= error %>
          </div>
          <% } %>
          <% if(success && success.length > 0){ %>
            <div class="alert-success" role="alert">
              <%= success %>
            </div>
            <% } %>
      </div>