<section class="right-column">
  <h3>Where's Waldo?!</h3>
  <div class="social-contact">
    <a href="https://github.com/Grill3dCheese"
      ><i class="fab fa-github-square"></i
    ></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <a href="https://twitter.com/keithmckenna"
      ><i class="fab fa-twitter-square"></i
    ></a>
  </div>
</section>
</main>
</body>
</html>