*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background: antiquewhite;
  font-family: monospace;
  line-height: 1.5;
}

a {
  color: #353535;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: #356697;
}

p {
  font-size: 16px;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

input {
  padding: 10px;
  font-family: monospace;
}

.test {
  border: 2px solid black;
}

/* Layout */

.container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

/* Navigation Bar - Left */

.left-column {
  flex: 0 1 230px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: antiquewhite;
  padding: 15px;
}

.main-nav {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.main-nav a {
  margin: 5px 0;
  padding: 5px 10px;
  font-size: 25px;
}

i.fas.fa-house-user {
  margin-right: 15px;
}

i.fas.fa-redo-alt {
  margin-right: 18px;
}

i.fas.fa-unlock {
  margin-right: 20px;
}

i.fas.fa-lock {
  margin-right: 20px;
}

.alert-container {
  position: absolute;
  top: 0;
  font-size: 1rem;
  z-index: 999;
  background-color: #f2e0c9;
  border-radius: 25px;
}

.alert-success {
  border: 3px solid #356697;
  border-radius: 25px;
  padding: 20px;
}

.alert-danger {
  border: 3px solid #a07178;
  border-radius: 25px;
  padding: 20px;
}

.slide-up {
  transform: translateY(-100px);
  transition: all 0.5s;
}

/* Main - Center */

.center-column {
  flex: 0 1 500px;
  border-right: 1px solid #acacac;
  border-left: 1px solid #acacac;
}

.header {
  display: flex;
  border-bottom: 1px solid #acacac;
  position: -webkit-sticky;
  position: sticky;
  background: antiquewhite;
  padding: 12px;
  top: 0;
  box-shadow: 0px 3px 5px -3px #356697;
}

/* Center - Blog Posts */

.blog-card {
  background: #f2e0c9;
  border: 2px solid #a07178;
  border-radius: 20px;
  margin: 30px 10px;
}
/* #30343F - gunmetal // #273469 - space cadet (light) // #1e2749 - space cadet (dark) */

.blog-title {
  font-size: 35px;
}

.post-meta {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post-meta > div {
  flex: 0 1 175px;
  margin: 5px;
}

.post-meta > div > i {
  font-size: 11px;
}

img {
  width: 75%;
  border-radius: 10px;
  margin: 15px 0;
  box-shadow: 0px 0px 10px 2px #acacac;
}

.blog-summary {
  padding: 2% 2% 0 2%;
}

.read-more {
  margin: 3% 0;
  font-weight: bold;
}

/* Right Sidebar */

.right-column {
  flex: 0 1 200px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.social-contact {
  font-size: 35px;
}

.social-contact i {
  color: #acacac;
  transition-property: color;
  transition-duration: 1s;
}

.social-contact i:hover {
  color: #a07178;
}

/* Blog New Page */

.card {
  background-color: #f2e0c9;
  border-radius: 20px;
  margin: 10% 1% 0 1%;
  padding: 25px;
}

.new-header {
  font-size: 50px;
  background: rgb(53, 102, 151);
  background: linear-gradient(
    45deg,
    rgba(53, 102, 151, 1) 20%,
    rgba(134, 173, 213, 1) 65%
  );
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-body {
  padding: 1.25rem;
}

.blog-form {
  position: relative;
  margin: 1.5rem 0;
  display: flex;
}

.blog-form i {
  font-size: 1.5rem;
  align-self: center;
}

.fa-user {
  margin-right: 17px;
}

.fa-key {
  margin-right: 14px;
}

.fa-signature {
  margin-right: 8px;
}

.fa-at {
  margin-right: 14px;
}

.fa-image {
  margin-right: 14px;
}

.fa-user-lock {
  margin-right: 9px;
}

.form-control {
  width: 90%;
  height: auto;
  font-size: 16px;
  line-height: 1.5;
  color: #353535;
  background-clip: padding-box;
  border: 1px solid #acacac;
  border-radius: 0.2rem;
  transition: border color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.submitBtn {
  font-family: monospace;
  font-weight: bold;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  text-decoration: none;
  color: #356697;
  display: inline-block;
  padding: 20px 40px;
  position: relative;
  border: 3px solid #a07178;
  border-radius: 100em;
  cursor: pointer;
  margin-top: 10px;
}

/* Blog Show Page */

.show-card {
  margin-top: 30px;
}

.back-container {
  display: flex;
}

.go-back {
  display: flex;
  align-items: center;
  margin: 0 0 25px 10px;
  font-size: 16px;
  border: 2px solid #a07178;
  border-radius: 20px;
}

.go-back > i {
  margin: 10px;
}

.go-back > a {
  margin-right: 10px;
}

.show-title {
  font-size: 32px;
}

/* Media Queries */

@media only screen and (max-width: 413px) {
  .header {
    padding: 35px;
  }
}

@media only screen and (max-width: 767px) {
  .left-column {
    flex: 0 1 100%;
  }
  .center-column {
    flex: 0 1 100%;
  }
  .main-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .main-nav a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 934px) {
  .right-column {
    border-top: 2px solid #356697;
    margin-top: 20px;
    padding-top: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .left-column {
    height: 100vh;
  }
}

@media only screen and (min-width: 768px) and (max-width: 934px) {
  .right-column {
    display: none;
  }
}

@media only screen and (min-width: 935px) {
  .right-column {
    height: 100vh;
  }
}

@media only screen and (min-width: 1080px) {
  .center-column {
    flex: 0 1 600px;
  }
}
