<%- include('../partials/blogHeader'); -%>

<section class="center-column">
  <div class="header">
    <!-- img tag w/class profile-img -->
    <div class="header-content">
      <h2>Keith McKenna 👨🏻‍💻</h2>
      <p>Full Stack Developer</p>
    </div>
  </div>
  <div class="card">
    <h1 class="sign-up">Sign Up</h1>
    <hr />
    <div class="card-body">
      <form action="/blog/user/register" method="POST" role="form">
        <fieldset>
          <div class="blog-form">
            <i class="fas fa-user"></i>
            <input
              class="form-control"
              type="text"
              name="username"
              id="username"
              placeholder="Username"
              required
            />
          </div>
          <div class="blog-form">
            <i class="fas fa-key"></i>
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              placeholder="Password"
              required
            />
          </div>
          <div class="blog-form">
            <i class="fas fa-signature"></i>
            <input
              class="form-control"
              type="text"
              name="name"
              id="name"
              placeholder="Your Name"
              required
            />
          </div>
          <div class="blog-form">
            <i class="fas fa-at"></i>
            <input
              type="email"
              class="form-control"
              name="email"
              id="email"
              placeholder="Email Address"
              required
            />
          </div>
          <div class="blog-form">
            <i class="fas fa-image"></i>
            <input
              type="file"
              name="avatar"
              id="avatar"
              class="form-control"
              required
            />
          </div>
          <div class="blog-form">
            <i class="fas fa-user-lock"></i>
            <input
              type="password"
              class="form-control"
              name="adminCode"
              id="adminCode"
              placeholder="Admin Code"
            />
          </div>
          <button class="submitBtn" type="submit">Sign Up!</button>
        </fieldset>
      </form>
    </div>
  </div>
</section>

<%- include('../partials/blogFooter'); -%>
